numpy
matplotlib
pandas
gym~=0.21.0
PettingZoo
SuperSuit
torch
setuptools~=62.6.0
kubernetes==23.6.0
wheel
requests
statsmodels
scikit-learn
keras
joblib
stable_baselines3
tensorflow-cpu
sb3_contrib
shimmy
prometheus_api_client